@font-face {
  font-family: Inter;
  src: url(./Inter.ttf), local(Verdana);
}

body {
  background-color: #121212;
  font-family: Inter;
  margin: 0;
  padding: 0;
  color: #fff;
}

#logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  width: 75px;
}

#logo h1 {
  padding-left: 0.5em;
  font-size: 275%;
}

div.nav_bar {
  margin: 0 auto;
  margin-top: 20px;
  width: 660px;
  display: flex;
  justify-content: space-between;
}

div.nav_bar a {
  font-size: 1.2em;
  text-decoration: none;
  padding: 10px;
}

img.align {
  display: block;
  width: 65%;
  margin: auto;
  max-width: fit-content;
  max-height: fit-content;
  border: 2px solid white;
  border-radius: 2px;
}

.yellow {
  color: #ffd65b;
}

h2 {
  margin-bottom: 0;
}

h2 a {
  color: white;
  text-decoration: none;
}

h3.title {
  font-size: 25px;
  font-weight: normal;
}

x.color-a {
  color: orange;
}

x.color-c {
  color: red;
}

embed {
  outline: 1px solid rgb(73, 73, 73);
  border-radius: 10px;
  width: 230px;
  height: 567px;
  border: none;
  transform: scale(1.1);
  transform-origin: 0 0;
}

#body {
  width: 1080px;
  margin: 0 auto;
  height: auto;
}

#body h2 {
  font-size: 180%;
  font-weight: 500;
  line-height: 150%;
}

#description {
  line-height: 150%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#description div {
  width: 700px;
}

#description #popup {
  width: 250px;
  height: 620px;
}

p,
li {
  line-height: 150%;
  font-size: 18px;
  margin: 10px 0 10px 0;
}

ul.clear {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  color: #ffd65b;
}

a.fedi {
  color: #121212;
}

.red {
  color: rgb(255, 43, 43);
}

.green {
  color: rgb(0, 207, 0);
}

a.badge {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img,
video {
  width: 80%;
  object-fit: contain;
}

a.badge img {
  height: 60px;
  width: auto;
  margin-right: 10px;
}

a.badge_medium img {
  height: 50px;
  width: auto;
}

.mono {
  font-family: monospace;
  word-break: break-all;
}

@media only screen and (max-width: 1080px) {
  #popup {
    margin-bottom: 20px;
  }

  div.nav_bar {
    width: 99%;
    flex-wrap: wrap;
    justify-content: center;
  }

  #logo {
    margin-top: 20px;
  }

  #logo h1 {
    font-size: 200%;
  }

  #logo img {
    width: 100px;
    height: auto;
  }

  #body {
    width: 95%;
  }

  #description {
    width: 100%;
    margin-right: 0;
    justify-content: center;
  }
}