@font-face {
    font-family: 'OpenSans';
    src: url('fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #121212;
    font-family: OpenSans;
    margin: 0;
    padding: 0;
    color: #fff;
}

#logo {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2em;
}

#logo h1 {
    padding-left: .5em;
    font-size: 360%;
}

embed {
    width: 200px;
    height: 490px;
    border: none;
    transform: scale(1.25);
    transform-origin: 0 0;
}

#popup{
    width: 250px;
    height: 612.5px;
}

#body {
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#body h2 {
    font-size: 180%;
    font-weight: 500;
    line-height: 150%;
}

#description {
    line-height: 150%;
    width: 70%;
}

a {
    color: #fff;
    transition: .1s;
}

a:hover {
    color: #fbc117;
}

.footer {
    text-align: center;
    padding: 0 .5em .5em .5em;
}

.footer a {
    margin: .8em 2em;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1080px) {

    #logo h1 {
        font-size: 200%;
    }

    #logo img {
        width: 100px;
        height: auto;
    }

    #body {
        justify-content: center;
    }

    #description {
        width: 100%;
        margin-right: 0;
    }


}