body {
    background-color: #121212;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

#logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    width: 120px;
}

#logo h1 {
    padding-left: .5em;
    font-size: 360%;
}

div.nav_bar {
    margin: 0 auto;
    margin-top: 20px;
    width: 550px;
    display: flex;
    justify-content: space-between;
}

div.nav_bar a {
    font-size: 1.2em;
    text-decoration: none;
}

div.nav_bar a {
    padding: 10px;
}

y {
    color: #ffd65b;
}

h2 {
    margin-bottom: 0;
}

h2 a {
    color: white;
    text-decoration: none;
}

embed {
    width: 280px;
    height: 535px;
    border: none;
    transform: scale(1.1);
    transform-origin: 0 0;
}

#body {
    width: 1080px;
    margin: 0 auto;
    height: auto;
}

#body h2 {
    font-size: 180%;
    font-weight: 500;
    line-height: 150%;
}

#description {
    line-height: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#description div{
    width: 700px;
}

#description #popup {
    width: 308px;
    height: 589px;
}

p, li {
    font-size: 18px;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    color: #ffd65b;
}

a.badge {
    text-decoration: none;
}

a:hover {
    /* color: #fbc117; */
    text-decoration: underline;
}

a.badge img {
    height: 60px;
    width: auto;
}

a.badge_medium img {
    height: 40px;
    width: auto;
}

@media only screen and (max-width: 1080px) {

    #logo h1 {
        font-size: 200%;
    }

    #logo img {
        width: 100px;
        height: auto;
    }

    #body {
        width: 80%;
    }

    #description {
        width: 100%;
        margin-right: 0;
        justify-content: center;
    }
}