html {
    background-image: url(../img/background_tile.jpg);
    background-size: 1000px;
    min-height: 20em;
    font-family: sans-serif;
    font-weight: 300;
    color: #fff;
}

h1, h2 {
    text-shadow: 0 0 .6em rgba(0,0,0,.6);
}

#flexcontainer {
    flex-flow: row wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
    align-items: center; 
}

#text {
    text-align: center;
}

#logo {
    margin-top: 2em;
    display: flex;
    align-items:center;
    justify-content: center;
}

#text h1 {
    display: inline;
    padding-left: .5em;
    font-size: 360%;
    font-weight: 400;
}

#text h2 {
    font-size: 180%;
    font-weight: 300;
    line-height: 150%;
}

#description {
    text-shadow: 0 0 .6em rgba(0,0,0,.6);
    line-height: 150%;
    max-width: 50em;
    padding: 0 2em;
    margin: 0 auto;
    text-align: left;
}

#description a {
    color: #fff;
}

#primary-buttons {
    margin: 2em 0;
}

#screenshot img {
    margin: 2em 0;
}

#primary-buttons a {
    color: #fff;
    padding: .5em 1em; 
    border-radius: 2em;
    background: #1e76b7;
    font-size: 1.3em;
    border: 1px solid #fff;
    text-decoration: none;
    box-shadow: 0 0 1em 0 rgba(0,0,0,.6);
    margin: .8em;
    display: inline-block;
    transition: all .4s ease-in-out;
}

#text a:hover {
    color: #1e76b7;
    background: #fff;
}

.mdi-light:before {
    transition: all .4s ease-in-out;
}

#text a:hover .mdi-light:before {
    color: #2b90d9;  
}

footer {
    width: 100%;
    padding: .5em;
    text-align: center;
}

footer a {
    text-shadow: 0 0 .6em rgba(0,0,0,.6);
    color: #fff;
    margin: .5em 2em;
    text-decoration: none;
    display: inline-block;
}

footer a:hover span {
    text-decoration: underline;
}