videos/* filter=lfs diff=lfs merge=lfs -text
vids/chrome_default_seach_engine.mp4 filter=lfs diff=lfs merge=lfs -text
vids/chrome_preferred_instance.mp4 filter=lfs diff=lfs merge=lfs -text
vids/install_chrome_load_unpacked.mp4 filter=lfs diff=lfs merge=lfs -text
vids/install_chromium.mp4 filter=lfs diff=lfs merge=lfs -text
