.nav_bar 
    a(href="./index.html") Home
    a(href="./download.html") Download
    a(href="https://github.com/libredirect/libredirect/" target="_blank") Source Code
    a(href="https://github.com/libredirect/libredirect/wiki/FAQ" target="_blank") FAQ
    a(href="./donate.html") Donate