.nav_bar 
    a(href="./index.html") Home
    a(href="./download.html") Download
    a(href="./source_code.html") Source Code
    a(href="./contact.html") Contact
    a(href="./faq.html") FAQ
    a(href="./donate.html") Donate