doctype html
html(lang="en")
    head
        include widgets/head.pug

        title Contact
    body 
        #body 

            #logo 
                img(src="img/icon.svg" width="160" height="160" alt="LibRedirect icon")
                h1 LibRedirect

            include widgets/nav_bar.pug

            h2 Contact
            br
            p Matrix: <a href="https://matrix.to/#/#libredirect-space:matrix.org">libredirect-space:matrix.org</a>
            p Email: <a href="mailto:libredirect@protonmail.com">libredirect@protonmail.com</a>
            p Open an Issue on: <a href="https://github.com/libredirect/libredirect/issues">GitHub</a>
            p Open an Issue on: <a href="https://codeberg.org/LibRedirect/libredirect">Codeberg</a>