doctype html
html(lang="en")
    head
        include widgets/head.pug

        title Docs
    body 
        #body

            #logo
                img(src="img/icon.svg" width="160" height="160" alt="LibRedirect icon")
                h1 LibRedirect

            include widgets/nav_bar.pug

            h2#Keyboard_Shortcuts <a href="#Keyboard_Shortcuts">Keyboard Shortcuts</a>

            p(class=keyboard) Libredirect offers the following Keyboard shortcuts for easier access

            li <code>Shift+Alt+L</code> - To Switch the instance you are currently in
            li <code>Shift+Alt+C</code> - Copies the original link. Ex: Copies the original Twitter link when you are in Nitter website
            li <code>Shift+Alt+U</code> - Shortcut to initiate Unify Settings. In other words, Copies the preferences (cookies, localStorage) from the current opened instance and copy them to all the other selected instances

            h2#Working_of_unify <a href="#working_of_unify">Working of Unify Settings</a>
            p(class="unify") Usually they're stored using cookies. We just copy those cookies to the other instances. Btw we don't copy critical cookies that have tokens or credential data. We copy only the cookies for customization such as theme, language, preffered layout, etc...
            
            img(src="img/docs/libreddit_cookies.png", alt="libreddit_cookies.png")
            img(src="img/docs/chromium_cookies.png", alt="chromium_cookies.png")


            p Some frontends use localStorage instead of cookies such as Piped. We copy it too but with a different approach, though you the user will have the same result.

            img(src="img/docs/piped_localStorage.png", alt="piped_localStorage.png")

            p(class="unify") The Data is stored forever within Libredirect and also gets exported when you use the Export Function to backup your settings. 
            

            br
            br
            br