doctype html
html(lang="en")
    head
        include widgets/head.pug

        title Docs
    body 
        #body

            #logo
                img(src="img/icon.svg" width="160" height="160" alt="LibRedirect icon")
                h1 LibRedirect

            include widgets/nav_bar.pug

            h2#Working_of_unify <a href="#working_of_unify">Working of Unify Settings</a>
            p(class="unify") Usually they're stored using cookies. We just copy those cookies to the other instances. Btw we don't copy critical cookies that have tokens or credential data. We copy only the cookies for customization such as theme, language, preffered layout, etc...
            
            img(src="img/docs/libreddit_cookies.png", alt="libreddit_cookies.png")
            img(src="img/docs/chromium_cookies.png", alt="chromium_cookies.png")


            p Some frontends use localStorage instead of cookies such as Piped. We copy it too but with a different approach, though you the user will have the same result.

            img(src="img/docs/piped_localStorage.png", alt="piped_localStorage.png")

            p(class="unify") The Data is stored forever within Libredirect and also gets exported when you use the Export Function to backup your settings. 
            
            br
            br
            br