doctype html
html(lang="en")
    head
        include widgets/head.pug

        title Donate
    body 
        #body 

            #logo 
                img(src="img/icon.svg" width="160" height="160" alt="LibRedirect icon")
                h1 LibRedirect

            include widgets/nav_bar.pug

            h2 Donate, Thank You!

            br

            a.badge_medium(href="https://liberapay.com/libredirect")
                img(src="./img/liberapay.svg")
            |&nbsp;&nbsp;

            a.badge_medium(href="https://patreon.com/libredirect")
                img(src="./img/patreon.svg")
            |&nbsp;&nbsp;

            a.badge_medium(href="https://www.buymeacoffee.com/libredirect")
                img(src="./img/bmc.svg")

            .mono 
                p BTC: <a href="bitcoin:bc1qrhue0frps6p2vkg978u9ayethnwprtmfug827q">bc1qrhue0frps6p2vkg978u9ayethnwprtmfug827q</a><br>
                p BCH: <a href="bitcoincash:qqz5vfnrngk0tjy73q2688qzw4wnllnuzqfndflhl8">qqz5vfnrngk0tjy73q2688qzw4wnllnuzqfndflhl8</a><br>
                p ETH: <a href="ethereum:0x896E5796Da76E49A400A9186E1c459CD2C64b4E8">0x896E5796Da76E49A400A9186E1c459CD2C64b4E8</a><br>
                p XMR: <a href="monero:4AM5CVfaGsnEXQQjZSzJvaWufe7pT86ubcZPr83fCjb2Hn3iwcForTWFy2Z3ugXcufUwHaGcucfPMFgPXBFSYGFvNrmV5XR">4AM5CVfaGsnEXQQjZSzJvaWufe7pT86ubcZPr83fCjb2Hn3iwcForTWFy2Z3ugXcufUwHaGcucfPMFgPXBFSYGFvNrmV5XR</a><br>