doctype html
html(lang="en")
    head
        include widgets/head.pug

        title LibRedirect
    body 
        #body 

            #logo 
                img(src="img/icon.svg" width="160" height="160" alt="LibRedirect icon")
                h1 LibRedirect


            include widgets/nav_bar.pug

            h2 Thank You!

            p LiberaPay: <a href="https://liberapay.com/libredirect">liberapay.com/libredirect</a>

            p Patreon: <a href="https://patreon.com/libredirect"> patreon.com/libredirect</a>

            p Buy me a coffee: <a href="https://www.buymeacoffee.com/libredirect"> buymeacoffee.com/libredirect</a>

            p Bitcoin: <a>bc1qrhue0frps6p2vkg978u9ayethnwprtmfug827q</a>