doctype html
html(lang="en")
    head
        include widgets/head.pug

        title Download
    body 
        #body 

            #logo 
                img(src="img/icon.svg" width="160" height="160" alt="LibRedirect icon")
                h1 LibRedirect


            include widgets/nav_bar.pug

            h2 Download
            
            br
            
            a.badge(href="https://addons.mozilla.org/firefox/addon/libredirect/")
                img(src="./img/badge-amo.png")            
            
            a.badge(href="https://microsoftedge.microsoft.com/addons/detail/libredirect/aodffkeankebfonljgbcfbbaljopcpdb")
                img(src="./img/badge-ms.png")
            
            a.badge(href="https://github.com/libredirect/libredirect/blob/master/chromium.md")
                img(src="./img/badge-chromium.png")
            
        p The Add-on is suspended in Microsoft Edge Add-On store since May 2022, The reason is the extension is flagged as Malware. We are actively trying to contact microsoft and resolve this issue. But, We didn't receive any proper reply till now.