doctype html
html(lang="en")
    head
        include widgets/head.pug

        title Source Code
    body 
        #body 

            #logo 
                img(src="img/icon.svg" width="160" height="160" alt="LibRedirect icon")
                h1 LibRedirect


            include widgets/nav_bar.pug

            h2 Source Code

            p GitHub: <a href="https://github.com/libredirect/libredirect">github.com/libredirect/libredirect</a>

            p Codeberg: <a href="https://codeberg.org/LibRedirect/libredirect">codeberg.org/LibRedirect/libredirect</a>