doctype html
html(lang="en")
    head
        include widgets/head.pug

        title Source Code
    body 
        #body 

            #logo 
                img(src="img/icon.svg" width="160" height="160" alt="LibRedirect icon")
                h1 LibRedirect


            include widgets/nav_bar.pug

            h2 Source Code

            br

            a.badge_medium(href="https://github.com/libredirect/libredirect")
                img(src="./img/github.svg")
            |&nbsp;&nbsp;
            
            a.badge_medium(href="https://codeberg.org/LibRedirect/libredirect")
                img(src="./img/codeberg.svg")
            |&nbsp;&nbsp;
